version: "2.0"
services:
  nginx:
    build: ./nginx
    ports:
      - "80:80"
    links:
      - "php"
    volumes:
      - /mnt/share/workspace/:/var/www/html/
      - /mnt/share/docker/logs/nginx/:/var/log/nginx/ #日志
      - ./nginx/conf/default.conf:/etc/nginx/conf.d/default.conf:ro
      - ./nginx/conf/private.conf:/etc/nginx/conf.d/private.conf:ro
    networks:
        default:
          ipv4_address:  172.0.0.10

  # apache2:
  #   image: webdevops/apache:latest
  #   environment:
  #       - PHP_SOCKET=php:9000
  #   volumes:
  #       - ./code/:/var/www/html
  #   ports:
  #       - 80:80
  #       - 443:443
  #   links:
  #       - php  
  php:
    build: ./php
    ports:
      - "9000:9000"
    volumes:
      - /mnt/share/workspace/:/var/www/html/
      - /mnt/share/docker/:/home/
      - ./php/conf/private_dev.ini:/usr/local/etc/php/conf.d/private_dev.ini:ro #配置文件
    environment:
         - ENV=dev
    links:
      - "mysql"
    extra_hosts:
      #php容器内访问nginx
      - "admin.xxx.cn: 172.0.0.10"
    networks:
      default:
        ipv4_address:  172.0.0.20
      
  mysql:
    build: ./mysql
    #restart: always
    #command: mysqld --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci --init-connect='SET NAMES utf8mb4;' --innodb-flush-log-at-trx-commit=0 --innodb_flush_method=normal
    command: "--innodb_use_native_aio=0"
    ports:
      - "3306:3306"
    volumes:
      - ./mysql/data/:/var/lib/mysql/
      - ./mysql/conf/my.cnf:/etc/mysql/conf.d/source
    environment:
      MYSQL_ROOT_PASSWORD : 111111

  redis:
    image: redis:4
    ports:
      # 端口映射
      - 6379:6379
    volumes:
      # 目录映射
      - ./redis/conf:/usr/local/etc/redis
      - ./redis/data:/data"
    command:
      # 执行的命令
      redis-server

  zoo1:
    image: zookeeper
    restart: always
    container_name: zoo1
    #绑定容器接口
    ports:
        - "2181:2181"
    environment:
        ZOO_MY_ID: 1
        ZOO_SERVERS: server.1=172.0.0.19:2888:3888 server.2=172.0.0.18:2888:3888 server.3=172.0.0.17:2888:3888
    networks:
      default:
        ipv4_address:  172.0.0.19
  zoo2:
    image: zookeeper
    restart: always
    container_name: zoo2
    ports:
        - "2182:2181"
    environment:
        ZOO_MY_ID: 2
        ZOO_SERVERS: server.1=172.0.0.19:2888:3888 server.2=172.0.0.18:2888:3888 server.3=172.0.0.17:2888:3888
    networks:
      default:
        ipv4_address:  172.0.0.18
  zoo3:
    image: zookeeper
    restart: always
    container_name: zoo3
    ports:
        - "2183:2181"
    environment:
        ZOO_MY_ID: 3
        ZOO_SERVERS: server.1=172.0.0.19:2888:3888 server.2=172.0.0.18:2888:3888 server.3=172.0.0.17:2888:3888
    networks:
      default:
        ipv4_address:  172.0.0.17
  es1:
    image: docker.elastic.co/elasticsearch/elasticsearch:5.6.3
    container_name: es1
    environment:
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    ulimits:
      memlock:
        soft: -1
        hard: -1
      nofile:
        soft: 65536
        hard: 65536
    mem_limit: 1g
    cap_add:
      - IPC_LOCK
    volumes:
      - ./elasticsearch/es1/data:/usr/share/elasticsearch/data
      - ./elasticsearch/es1/elasticsearch.yml:/usr/share/elasticsearch/config/elasticsearch.yml
    ports:
      - 9201:9200
    networks:
      default:
        ipv4_address:  172.0.0.16

  es2:
    image: docker.elastic.co/elasticsearch/elasticsearch:5.6.3
    container_name: es2
    environment:
      - bootstrap.memory_lock=true
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    ulimits:
      memlock:
        soft: -1
        hard: -1
      nofile:
        soft: 65536
        hard: 65536
    mem_limit: 1g
    cap_add:
      - IPC_LOCK
    volumes:
      - ./elasticsearch/es2/data:/usr/share/elasticsearch/data
      - ./elasticsearch/es2/elasticsearch.yml:/usr/share/elasticsearch/config/elasticsearch.yml
    ports:
      - 9202:9200
    links:
      - es1
    networks:
      default:
        ipv4_address:  172.0.0.15


networks:
  default:
    driver: bridge
    ipam:
      config:
        - subnet: 172.0.0.0/16

#sudo docker run -it --rm zookeeper zkCli.sh -server 172.0.0.19:2181,172.0.0.18:2181,172.0.0.17:2181